* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background: black;
}

/*BODY COVER ANIMATION*/

@keyframes myAnimation {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes myAnimation {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes myAnimation {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#cover1 {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url(../images/background1.jpg);
  background-size: cover;
  background-position: center;
  animation: myAnimation 24s linear 18s infinite;
  -webkit-animation: myAnimation 24s linear 18s infinite;
  -moz-animation: myAnimation 24s linear 18s infinite;
}
#cover2 {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url(../images/background2.jpg);
  background-size: cover;
  background-position: center;
  animation: myAnimation 24s linear 12s infinite;
  -webkit-animation: myAnimation 24s linear 12s infinite;
  -moz-animation: myAnimation 24s linear 12s infinite;
}
#cover3 {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url(../images/background3.jpg);
  background-size: cover;
  background-position: center;
  animation: myAnimation 24s linear 6s infinite;
  -webkit-animation: myAnimation 24s linear 6s infinite;
  -moz-animation: myAnimation 24s linear 6s infinite;
}
#cover4 {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url(../images/background4.jpg);
  background-size: cover;
  background-position: center;
  animation: myAnimation 24s linear 0s infinite;
  -webkit-animation: myAnimation 24s linear 0s infinite;
  -moz-animation: myAnimation 24s linear 0s infinite;
}

.container {
  margin: 5% auto;
  left: 0;
  right: 0;
  position: absolute;
  top: 50px;
  width: 80%;
  z-index: 10;
}
.weatherBox {
  height: auto;
  padding: 20px;
}
.title {
  color: white;
  text-align: center;
}

/* INPUT */
form {
  border: 1px solid white;
  border-radius: 50px;
  margin: auto;
  margin-top: 10px;
  padding: 50px;
  width: 80%;
}
form label {
  color: white;
  margin-right: 10px;
}
form input {
  padding: 5px;
  width: 100%;
}

form .buttonContainer {
  text-align: center;
}
form .buttonContainer button {
  margin-top: 10px;
  padding: 10px;
  width: 20%;
}

/*INFO BOARD*/
.infoBox {
  border: 1px solid white;
  border-radius: 50px;
  box-sizing: border-box;
  display: none;
  height: auto;
  margin: auto;
  margin-top: 20px;
  padding: 50px;
  width: 80%;
}

.infoBox h1 {
  color: white;
  margin-bottom: 30px;
  text-align: center;
}

.weatherImage {
  display: block;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.weatherContainer {
  background: gray;
  height: auto;
  margin-top: 10px;
  padding: 30px;
}

.weatherDetail {
  display: flex;
  justify-content: center;
}

.weatherDetail li {
  margin-right: 10px;
  color: white;
  font-size: 24px;
  float: left;
}

/*----SLIDE-----*/
#slide {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 301px;
}
#slide ul {
  position: relative;
  top: 0;
  left: 0;
  width: 1000px;
  height: 301px;
  /*background: url(../img/slide01.jpg);*/
}
#slide ul li .slideContent {
  position: absolute;
  opacity: 0;
  left: 0;
  transition: opacity 1s ease-out;
}

#slide ul li label {
  position: relative;
  z-index: 3;
  top: 304px;
  left: 440px;
  float: left;
  width: 10px;
  height: 10px;
  margin: 0 2px;
  background: blue;
  border: 3px solid white;
  cursor: pointer;
  border-radius: 100%;
}
#slide ul li label:hover {
  background: #aaa;
}
#slide ul li label:active {
  background: magenta;
}

#slide ul li input {
  display: none;
}
#slide ul li input#boton-1:checked ~ #foto01 {
  opacity: 1;
}
#slide ul li input#boton-2:checked ~ #foto02 {
  opacity: 1;
}
#slide ul li input#boton-3:checked ~ #foto03 {
  opacity: 1;
}
#slide ul li input#boton-4:checked ~ #foto04 {
  opacity: 1;
}
#slide ul li input#boton-5:checked ~ #foto05 {
  opacity: 1;
}
#botoneraSlide {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 26px;
  background: url(../images/backButtonsSlide.jpg);
}
